:root {
    --borda1: #F8F4EC;
    --borda3: #C2EABD;
    --borda2: #ffb8b8;
    --borda4: #402B3A;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 0px var(--borda2);
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 0 8px var(--borda2);
    }
  }

  @keyframes up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
}

.start-game {
    position: absolute;
    top: 52%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 519px;
    height: 519px;
    z-index: 2;
    background-color: #fdf6f9e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4d8c57; 
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(77, 140, 87, 0.2);
}

.start-game h1 {
    font-size: 40px;
    margin-bottom: 0.5rem;
    color: #ff8dc7;
    text-shadow: 2px 2px #fff;
    width: 100%;
}

.start-game p {
    font-size: 1rem;
    color: #7fb58d;
    margin-bottom: 24px;
}

.start-game button {
    background-color: var(--borda3);
    border: none;
    color: #ff8dc7;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px var(--borda2);
    transition: all 0.3s ease;
    animation: pulse 1s infinite ease-in-out;
}

.start-game button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--borda2);
}

 figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

 .snake {
    animation: up 1s infinite ease-in-out;
    transform-origin: bottom center;
    width: 100%;
    top: 16%;
    position: relative;
}

