@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --borda1: #F8F4EC;
    --borda3: #C2EABD;
    --borda2: #ffb8b8;
    --borda4: #402B3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

body {
    background: url('/assets/img-canvas/fundo.png');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    color:antiquewhite;
}

canvas {
    background-color: #ffffff;
    margin: 10px;
    width: 500px;
    height: 500px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-canvas {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    border-radius: 12px;
    background-color: #fff; /* opcional, pra destacar */
    border: 10px solid black;

}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    gap: 20px;
    position: absolute;
    z-index: 999;
    top: 15px
}

.score-value {
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin-top: -10px;
}

.final-score {
    font-size: 1.6rem;
    font-weight: 600;
    color: #525252;
    background-color: #e2e2e257;
    padding: 8px 16px;
    border: 2px hidden #ff75aa;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #ff7fa5a9;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 15px;
    background-color: rgba(214, 214, 214, 0.8);
    padding: 40px;
    border: 4px solid rgba(214, 214, 214, 0.8);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    position: absolute;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    color: #f85485;
    text-shadow: 2px 2px 0 #2e2727, 4px 4px 0 #f85485;
    margin-bottom: 20px;
    animation: flash 1s infinite;
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background: linear-gradient(135deg, #ff75aa, #9cff62);
    box-shadow: 2px 2px 0 #dddada, 4px 4px 0 #ff75aa;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 12px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

#menu {
    margin-top: 2px;
}
.btn-play:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #fd1e61;
}

.btn-play:focus {
    outline: none;
    border: 10px solid var(--borda3); 
    box-shadow: 0 0 30px var(--borda3);
    transition: all 0.2s ease-in-out;
}
        
.music-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--borda2);
    color: #fff;
    border: none;
    padding: 12px 16px;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--borda4);
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 20;
    i {
        color: #534951;
    }
}

.music-toggle:hover {
    transform: scale(1.1);
    background-color: var(--borda2);
}

#start {
    margin-top: 12px;
}

#start:focus {
    outline: none;
    border: 2px solid var(--borda2); 
    box-shadow: 0 0 10px var(--borda2);
    transition: all 0.2s ease-in-out;
}

